*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blue;
    justify-content: center;

}

img{
    width: 40%;
}
h1{
    text-align: center;
    font-size: 2rem;
    color: black;
    
}

p{
    text-align: center;
   
}